#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  border: 1px solid purple;
  border-radius: 6px;
  padding: 10px;
  width: 350px;
  margin: 10px;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.text {
  overflow-wrap: break-word;
}

.btn-submit {
  background-color: purple;
  color: white;
}